<!DOCTYPE html>
<html lang="en">
 
{pyro:theme:partial name="metadata"}

<body>
 
	<!-- End Preload -->
 
	<!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
  {pyro:theme:partial name="header"}


	<section class="parallax-window" data-parallax="scroll" data-image-src="./assets/images/default.jpg" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-1">
		 
		</div>
	</section>
	<!-- End section -->

	{pyro:template:body}
	<!-- End main -->
  {pyro:theme:partial name="footer"}
	

</body>

</html>