<!DOCTYPE html>
<html lang="en">
 
{pyro:theme:partial name="metadata"}


<body class="stretched">

	<div id="wrapper" class="clearfix">
	<!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
  {pyro:theme:partial name="header"}


	<section class="parallax-window" data-parallax="scroll" data-image-src="http://jakarta-tourism.go.id/dev-5/uploads/default/files/kebijakan.jpg" data-natural-width="1400" data-natural-height="470">
		<div class="parallax-content-1">
				<div class="animated fadeInDown">
            <h1 id="judul"></h1>
             
          </div>
		</div>
	</section>
	<!-- End section -->
 
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li> 
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- End position -->
		<div class="container margin_60">
				{pyro:template:body}
			 
			<!-- End row-->
		</div>
		<!-- End container -->
		 
	<!-- End main -->
  {pyro:theme:partial name="footer2"}
  
	</div><!-- #wrapper end -->
	
<div id="toTop"></div><!-- Back to top button -->

<!-- Search Menu -->
<div class="search-overlay-menu">
<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
<form role="search" id="searchform" method="post" action="">
	<input value="" id="qsearch" name="q" type="search" placeholder="Search..." />
	<button type="submit" id="submit"><i class="icon_set_1_icon-78"></i>
	</button>
</form>
</div><!-- End Search Menu -->

<!-- /Sign In Popup -->

<div class="modal fade" data-toggle="mymodal" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
			<div class="modal-content">
					
					<div class="modal-body" >
							<span id="isi"></span>
					</div>
				 
			</div>
	</div>
</div>	

<!-- Common scripts -->
{pyro:theme:js file="common_scripts_min.js"}
{pyro:theme:js file="functions.js"} 

<!-- SLIDER REVOLUTION SCRIPTS  -->
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/jquery.themepunch.tools.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/jquery.themepunch.revolution.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.actions.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.migration.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="<?php echo APPPATH?>themes/root/rev-slider-files/js/extensions/revolution.extension.video.min.js"></script>


<!-- slider --> 
<script>
	function modalpop(isi){
	$('#mymodal').modal('show');
	$('#isi').html(isi);
}
	 $('.start_date').dateDropper();
	 $('.end_date').dateDropper();
	 
</script> 

<!-- NOTIFY BUBBLES  --> 

<script>
	
	$('form').get(0).setAttribute('action', 'agenda/search'); 
 


	
</script>
</body>

</html>