
<!DOCTYPE html>
<html lang="en">
 
	{pyro:theme:partial name="metadata"}

   
 <body class="white_bg">
 
<!-- End Preload -->
 
<!-- Mobile menu overlay mask -->
{pyro:theme:partial name="header"}
<!-- End Header -->
<div class=" d-none d-xl-block" style="padding-top:100px">&nbsp;</div>
<main class="white_bg">
  <div class="container margin_60">
    <div class="row">
      <div class="col-lg-12" id="faq">
      <h3>FAQ</h3>
      <div id="tips" class="accordion_styled"> 
        
        {pyro:widgets:area slug="faq"}
      </div>
      <!--End tips -->
    </div>
      </div>
      </div>

	<main>
	  

					<!--End terms -->

<!-- End main -->
<!-- FOOTER-->
{pyro:theme:partial name="footer"}
 
 
 


  </body>
</html>