 
<!DOCTYPE html>
<html lang="en">
 
	{pyro:theme:partial name="metadata"}

   
 <body class="white_bg">
 
<!-- End Preload -->
 
<!-- Mobile menu overlay mask -->
{pyro:theme:partial name="header"}
<!-- End Header -->
<div class=" d-none d-xl-block" style="padding-top:140px">&nbsp;</div>
	<main class="white_bg">
		<div class="container margin_60" style="padding-bottom:0px">
	<!-- end map-->
  
	{pyro:template:body}
 </div>
</main>
<!-- End main -->
<!-- FOOTER-->
{pyro:theme:partial name="footer"}
 
 

  </body>
</html>
			  
			 