
<!DOCTYPE html>
<html lang="en">
 
	{pyro:theme:partial name="metadata"}

   
 <body class="white_bg">
 
<!-- End Preload -->
 
<!-- Mobile menu overlay mask -->
{pyro:theme:partial name="header"}
<!-- End Header -->
<div class=" d-none d-xl-block" style="padding-top:100px">&nbsp;</div>
<main class="white_bg">
  <div class="container margin_60">
    <div aria-multiselectable="true" class="panel-group" id="accordion" role="tablist">
      <div class="panel panel-info">
        <div class="panel-heading" id="headingOne" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseOne" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" role="button"><i class="fa fa-university">&nbsp;</i>&nbsp;&nbsp;&nbsp;Profil PPID Dinas Pemberdayaan, Perlindungan Anak Dan Pengendalian Penduduk Provinsi DKI Jakarta</a></h3>
        </div>
        <div aria-expanded="false" aria-labelledby="headingOne" class="panel-collapse collapse" id="collapseOne" role="tabpanel" style="">
          <div class="panel-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th colspan="2" scope="col" style="text-align: justify;">
                    Pejabat Pengelola Informasi dan Dokumentasi (PPID) Dinas Pemberdayaan, Perlindungan Anak Dan Pengendalian Penduduk Provinsi DKI Jakarta merupakan ujung tombak pelayanan informasi di Dinas Pemberdayaan, Perlindungan Anak Dan Pengendalian Penduduk Provinsi DKI Jakarta yang bertugas mengelola dan memberikan pelayanan informasi kepada masyarakat.</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingTwo" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseTwo" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" role="button"><i class="fa fa-bell-o">&nbsp;</i>&nbsp;&nbsp;&nbsp;Motto PPID</a></h3>
        </div>
        <div aria-expanded="true" aria-labelledby="headingTwo" class="panel-collapse out collapse" id="collapseTwo" role="tabpanel" style="">
          <div class="panel-body">
            <p style="text-align: center;">
              <span style="font-size:24px;"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif;">Cepat, Akurat, Mudah, dan Berkualitas.</span></span></p>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingThree" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseThree" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree" role="button"><i class="fa fa-tasks">&nbsp;</i>&nbsp;&nbsp;&nbsp;Tanggung Jawab, Tugas, Dan Wewenang PPID</a></h3>
        </div>
        <div aria-expanded="false" aria-labelledby="headingThree" class="panel-collapse out collapse" id="collapseThree" role="tabpanel" style="">
          <div class="panel-body">
            <p style="text-align:justify">
              Sesuai dengan Peraturan Gubernur Nomor 175 Tahun 2016 tentang Layanan Informasi Publik dan Keputusan Kepala Dinas Pemberdayaan, Perlindungan Anak Dan Pengendalian Penduduk Provinsi DKI Jakarta Nomor 76 Tahun 2020 tentang Penunjukan Pejabat Pengelola Informasi dan Dokumentasi, PPID bertugas sebagai berikut:</p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="col" style="text-align: left;">
                    <i class="fa fa-lock">&nbsp;</i>&nbsp;Tanggung Jawab</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1.</td>
                  <td>
                    PPID pada Perangkat Daerah bertanggung jawab di bidang layanan informasi publik yang meliputi proses penyimpanan, pendokumentasian, penyediaan pelayanan dan pengumuman informasi yang dapat diakses oleh publik sesuai dengan ketentuan peraturan perundang-undangan.</td>
                </tr>
                <tr>
                  <td>
                    2.</td>
                  <td>
                    Informasi publik sebagaimana dimaksud pada nomor 1 dikumpulkan dengan cara pendataan informasi publik yang ada pada Perangkat Daerah untuk dilakukan pembuatan dan pemutakhiran daftar informasi publik paling sedikit 1 (satu) kali dalam 1 (satu) bulan.</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="col" style="text-align: left;">
                    <i class="fa fa-list-ul">&nbsp;</i>&nbsp;Tugas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1.</td>
                  <td>
                    Melakukan pengelolaan dan pelayanan informasi yang meliputi proses penyimpanan, pendokumentasian, penyediaan, dan pelayanan informasi</td>
                </tr>
                <tr>
                  <td>
                    2.</td>
                  <td>
                    Mengumpulkan seluruh informasi secara fisik dari Sekretariat, Bidang, dan UP/Pusat;</td>
                </tr>
                <tr>
                  <td>
                    3.</td>
                  <td>
                    Menyediakan informasi melalui pengumuman dan atau permintaan;</td>
                </tr>
                <tr>
                  <td>
                    4.</td>
                  <td>
                    Mengkoordinasikan pemberian informasi dengan petugas informasi di Sekretariat, Bidang, dan UP/Pusat untuk memenuhi permintaan informasi;</td>
                </tr>
                <tr>
                  <td>
                    5.</td>
                  <td>
                    Memutuskan suatu informasi dapat diakses publik atau tidak;</td>
                </tr>
                <tr>
                  <td>
                    6.</td>
                  <td>
                    Menolak permintaan informasi secara tertulis apabila informasi yang dimohon termasuk informasi yang dikecualikan/dirahasiakan dengan disertai alasan serta pemberitahuan tentang hak dan tata cara bagi pemohon untuk mengajukan keberatan atas permintaan itu.</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="col" style="text-align: left;">
                    <i class="fa fa-gears">&nbsp;</i>&nbsp;Wewenang</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center;">
                    1</td>
                  <td>
                    Mengoordinasikan pelayanan informasi publik pada Perangkat Daerah dan/atau pejabat fungsional yang menjadi cakupan kerjanya.</td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    2</td>
                  <td>
                    Menetapkan/menentukan suatu informasi publik dapat diakses publik atau tidak berdasarkan pengujian tentang konsekuensi.</td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    3</td>
                  <td>
                    Menolak permohonan informasi publik secara tertulis apabila informasi publik yang dimohon termasuk infomasi yang dikecualikan/rahasia dengan disertai alasan serta pemberitahuan tentang hak dan tata cara bagi pemohon informasi publik untuk mengajukan keberatan atas penolakan tersebut.</td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    4</td>
                  <td>
                    Membuat, memelihara dan/atau memutakhirkan daftar informasi publik secara berkala paling sedikit 1 (satu) kali dalam 1 (satu) bulan.</td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    5</td>
                  <td>
                    Meminta dan memperoleh informasi dari unit kerja/komponen satuan kerja yang menjadi cakupan kerjanya.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingFour" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseFour" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour" role="button"><i class="fa fa-paper-plane-o">&nbsp;</i> &nbsp;&nbsp;&nbsp;Visi &amp; Misi </a></h3>
        </div>
        <div aria-expanded="false" aria-labelledby="headingFour" class="panel-collapse out collapse" id="collapseFour" role="tabpanel" style="">
          <div class="panel-body">
            <h1 style="text-align: center;">
              &nbsp;</h1>
            <h1 style="text-align: center;">
              <span style="color:#16a085;"><strong>VISI</strong></span></h1>
            <div class="well">
              <h3 style="text-align: center;">
                <span style="color:#2c3e50;">"Jakarta kota maju, lestari dan berbudaya yang warganya terlibat dalam mewujudkan keberadaban, keadilan, dan kesejahteraan bagi semua </span></h3>
            </div>
            <p>
              &nbsp;</p>
            <h1 style="text-align: center;">
              <span style="color:#e67e22;"><strong>MISI</strong></span></h1>
            <table class="table table-striped" style="width:100%;" cellspacing="1" cellpadding="1" border="0">
              <tbody>
                <tr>
                  <th scope="row" style="width: 20px;">
                    <span style="color:#2c3e50;">1</span></th>
                  <td style="text-align: justify;">
                    <span style="color:#2c3e50;"><span style="font-size:18px;">Menjadikan Jakarta kota aman, sehat, cerdas, berbudaya, dengan memperkuat nilai-nilai keluarga dan memeberikan ruang kreativitas melalui kepemimpinan yang melibatkan, menggerakan dan memanusiakan. </span></span></td>
                </tr>
                <tr>
                  <th scope="row">
                    <span style="color:#2c3e50;">2</span></th>
                  <td style="text-align: justify;">
                    <span style="color:#2c3e50;"><span style="font-size:18px;">Menjadikan Jakarta kota memajukan kesejahteraan umum melalui terciptanya lapangan kerja, kestabilan dan keterjangkauan kebutuhan pokok, meningkatnya keadilan sosial, percepatan pembangunan infrastruktur, kemudahan investasi dan berbisnis, serta perbaikan pengolaan tata ruang. </span></span></td>
                </tr>
                <tr>
                  <th scope="row">
                    <span style="color:#2c3e50;">3</span></th>
                  <td style="text-align: justify;">
                    <span style="color:#2c3e50;"><span style="font-size:18px;">Menjadikan Jakarta tempat wahana aparatur negara yang berkarya , mengabdi dan melayani, serta menyelesaikan berbagai permasalahan kota dan warga, secara efektif, meritokratis, dan berintergritas. </span></span></td>
                </tr>
                <tr>
                  <th scope="row">
                    <span style="color:#2c3e50;">4</span></th>
                  <td style="text-align: justify;">
                    <span style="color:#2c3e50;"><span style="font-size:18px;">Menjadikan Jakarta kota yang lestari, dengan pembangunan dan tata kehidupan yang memperkuat daya dukung lingkungan dan sosial. </span></span></td>
                </tr>
                <tr>
                  <th scope="row">
                    <span style="color:#2c3e50;">5</span></th>
                  <td style="text-align: justify;">
                    <span style="color:#2c3e50;"><span style="font-size:18px;">Menjadikan Jakarta ibu kota yang dinamis sebagai simpul kemajuan Indonesia yang bercirikan keadilan, kebangsaan dan kebhinekaan. </span></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingFive" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseFive" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive" role="button"><i class="fa fa-bookmark">&nbsp;</i>&nbsp;&nbsp;&nbsp;Maklumat Pelayanan Informasi Publik PPID Pemerintah Provinsi DKI Jakarta</a></h3>
        </div>
        <div aria-expanded="false" aria-labelledby="headingFive" class="panel-collapse out collapse" id="collapseFive" role="tabpanel" style="">
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th colspan="2" scope="col" style="text-align: left;">
                    Kami berupaya memberikan pelayanan informasi publik dan berkomitmen untuk :</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align:center">
                    1</td>
                  <td>
                    Memberikan pelayanan informasi yang prima berdasarkan Undang-Undang No 14 Tahun 2008 tentang Keterbukaan Informasi Publik dan juga turut mewujudkan misi Pemerintah Provinsi DKI Jakarta yang berorientasi pada pelayanan publik;</td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    2</td>
                  <td>
                    Memberikan kemudahan kepada publik dalam mendapatkan informasi yang diperlukan dengan murah dan sederhana;</td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    3</td>
                  <td>
                    Menyediakan dan memberikan informasi publik yang dikuasai secara akurat, benar dan tidak menyesatkan;</td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    4</td>
                  <td>
                    Menyediakan daftar informasi publik untuk informasi yang wajib disediakan dan diumumkan;</td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    5</td>
                  <td>
                    Bertindak proaktif dalam memenuhi kebutuhan informasi masyarakat serta menjamin seluruh informasi publik dan fasilitas pelayanan sesuai dengan ketentuan yang berlaku;</td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    6</td>
                  <td>
                    Menyiapkan ruang dan fasilitas yang nyaman dan tertata baik;</td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    7</td>
                  <td>
                    Bersikap adil, tidak diskriminatif dan berperilaku sopan santun dalam memberikan layanan informasi publik;</td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    8</td>
                  <td>
                    Menyiapkan petugas informasi yang berdedikasi dan siap melayani;</td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    9</td>
                  <td>
                    Tidak melakukan pungutan biaya yang tidak sesuai dengan ketentuan peraturan perundangan dalam memberikan layanan informasi publik.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingSix" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseSix" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSix" role="button"><i class="fa fa-map-signs">&nbsp;</i>&nbsp;&nbsp;&nbsp;Alur Mekanisme Permohonan</a></h3>
        </div>
        <div aria-expanded="false" aria-labelledby="headingSix" class="panel-collapse out collapse" id="collapseSix" role="tabpanel" style="">
          <div class="panel-body">
            <h2 style="text-align: center;">
              &nbsp;</h2>
            <p style="text-align: center;">
              <a href="https://bkddki.jakarta.go.id/assets/filemanager/userfiles/image/Mekanisme_Pelayanan_Publik.png" target="_blank"><img alt="Alur Mekanisme Pelayanan Informasi Publik " src="https://bkddki.jakarta.go.id/assets/filemanager/userfiles/image/Mekanisme_Pelayanan_Publik.png" style="width: 100%; height: 100%;"></a></p>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingSeven" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseSeven" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSeven" role="button"><i class="fa fa-map-signs">&nbsp;</i>&nbsp;&nbsp;&nbsp;Alur Mekanisme Pengajuan Keberatan</a></h3>
        </div>
        <div aria-expanded="false" aria-labelledby="headingSeven" class="panel-collapse collapse out" id="collapseSeven" role="tabpanel">
          <div class="panel-body">
            <h2 style="text-align: center;">
              &nbsp;</h2>
            <p style="text-align: center;">
              <a href="https://bkddki.jakarta.go.id/assets/filemanager/userfiles/image/Mekanisme_Pengajuan_Keberatan_Informasi.png" target="_blank"><img alt="Mekanisme Pengajuan Keberatan Informasi" src="https://bkddki.jakarta.go.id/assets/filemanager/userfiles/image/Mekanisme_Pengajuan_Keberatan_Informasi.png" style="width: 100%; height: 100%;"></a></p>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingEeight" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseEeight" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseEeight" role="button"><i class="fa fa-map-signs">&nbsp;</i>&nbsp;&nbsp;&nbsp;Alur Mekanisme Sengketa</a></h3>
        </div>
        <div aria-expanded="false" aria-labelledby="headingEeight" class="panel-collapse out collapse" id="collapseEeight" role="tabpanel" style="">
          <div class="panel-body">
            <h2 style="text-align: center;">
              &nbsp;</h2>
            <p style="text-align: center;">
              <a href="https://bkddki.jakarta.go.id/assets/filemanager/userfiles/image/Alur_Mekanisme_Sengketa.png" target="_blank"><img alt="Alur Mekanisme Sengketa" src="https://bkddki.jakarta.go.id/assets/filemanager/userfiles/image/Alur_Mekanisme_Sengketa.png" style="width: 100%; height: 100%;"></a></p>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingNine" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseNine" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseNine" role="button"><i class="fa fa-sitemap">&nbsp;</i>&nbsp;&nbsp;&nbsp;Struktur Organisasi</a></h3>
        </div>
        <div aria-expanded="false" aria-labelledby="headingNine" class="panel-collapse out collapse" id="collapseNine" role="tabpanel" style="">
          <div class="panel-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">
                    No</th>
                  <th scope="col" style="width: 27%;">
                    Struktur Organisasi</th>
                  <th scope="col">
                    Keterangan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center; vertical-align: top;">
                    1</td>
                  <td style="vertical-align: top;">
                    Pengarah</td>
                  <td style="vertical-align: top;">
                    Kepala Dinas Pemberdayaan, Perlindungan Anak Dan Pengendalian Penduduk Provinsi DKI Jakarta
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center; vertical-align: top;">
                    2</td>
                  <td style="vertical-align: top;">
                    Pejabat Pengelola Informasi dan Dokumentasi</td>
                  <td style="vertical-align: top;">
                    
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center; vertical-align: top;">
                    3</td>
                  <td style="vertical-align: top;">
                    Bidang Pengelolaan Informasi</td>
                  <td style="vertical-align: top;">
                    </td>
                </tr>
                <tr>
                  <td style="text-align: center; vertical-align: top;">
                    4</td>
                  <td style="vertical-align: top;">
                    Bidang Dokumentasi dan Arsip</td>
                  <td style="vertical-align: top;">
                    </td>
                </tr>
                <tr>
                  <td style="text-align: center; vertical-align: top;">
                    5</td>
                  <td style="vertical-align: top;">
                    Bidang Pelayanan Informasi</td>
                  <td style="vertical-align: top;">
                    </td>
                </tr>
                <tr>
                  <td style="text-align: center; vertical-align: top;">
                    6</td>
                  <td style="vertical-align: top;">
                    Anggota</td>
                  <td style="vertical-align: top;">
                         </tr>
                <tr>
                  <td style="text-align: center; vertical-align: top;">
                    7</td>
                  <td style="vertical-align: top;">
                    Sekretariat</td>
                  <td style="vertical-align: top;">
                    1.Kepala Subbagian Umum dan Kepegawaian<br>
                    2.Kepala Seksi Data dan Informasi</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingNine" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseTen" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTen" role="button"><i class="fa fa-legal">&nbsp;</i>&nbsp;&nbsp;&nbsp;Peraturan Keterbukaan Informasi Publik</a></h3>
        </div>
        <style type="text/css">
    h3{color:#31708f !important;}		</style>
        <div aria-expanded="false" aria-labelledby="headingTen" class="panel-collapse out collapse" id="collapseTen" role="tabpanel" style="">
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">
                    No</th>
                  <th scope="col">
                    Dokumen</th>
                  <th scope="col">
                    Tentang</th>
                  <th scope="col">
                    <i class="fa fa-cloud-download">&nbsp;</i></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1</td>
                  <td>
                    Undang-Undang Republik Indonesia Nomor 14 Tahun 2008</td>
                  <td>
                    Keterbukaan Informasi Publik</td>
                  <td style="text-align: center;">
                    <a href="https://bkddki.jakarta.go.id/download/unduh/170" target="_blank">Unduh</a></td>
                </tr>
                <tr>
                  <td>
                    &nbsp;</td>
                  <td>
                    &nbsp;</td>
                  <td>
                    &nbsp;</td>
                  <td>
                    &nbsp;</td>
                </tr>
              </tbody>
            </table>
            <p>
              &nbsp;</p>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading" id="headingNine" role="tab">
          <h3 class="panel-title">
            <a aria-controls="collapseTena" aria-expanded="false" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTena" role="button"><i class="fa fa-download">&nbsp;</i>&nbsp;&nbsp;&nbsp;Unduh</a></h3>
        </div>
        <style type="text/css">
    h3{color:#31708f !important;}		</style>
        <div aria-expanded="false" aria-labelledby="headingTena" class="panel-collapse out collapse" id="collapseTena" role="tabpanel" style="">
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">
                    No</th>
                  <th scope="col">
                    Dokumen</th>
                  <th scope="col">
                    Tentang</th>
                  <th scope="col">
                    <i class="fa fa-cloud-download">&nbsp;</i></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    1</td>
                  <td>
                    PERGUB NO.175 TAHUN 2016</td>
                  <td>
                    Tentang Layanan Informasi Publik</td>
                  <td style="text-align: center;">
                    <a href="https://jakarta-tourism.go.id/dev-5/uploads/default/files/kep-kadis-brand-logo-dinas-kebudayaan.pdf" target="_blank">Unduh</a></td>
                </tr>
                <tr>
                  <td>
                    &nbsp;</td>
                  <td>
                    &nbsp;</td>
                  <td>
                    &nbsp;</td>
                  <td>
                    &nbsp;</td>
                </tr>
              </tbody>
            </table>
            <p>
              &nbsp;</p>
          </div>
        </div>
      </div>
    </div>
      </div>

	<main>
	  

					<!--End terms -->

<!-- End main -->
<!-- FOOTER-->
{pyro:theme:partial name="footer"}
 
 
 


  </body>
</html>