<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{pyro:theme:partial name="metadata"}

</head>
<body data-twttr-rendered="true" class="home blog">
	 
<div id="page-wrap">
{pyro:theme:partial name="header"}
	
<div id="content">
 
<div id="featured" class="widget">
	<h3 class="title">{pyro:template:title}</h3>
	<div>
	 <!-- NEWS CONTENT -->
		<div class="tab_container">
			<div style="display: block;" id="tab1" class="tab_content">
				
					{pyro:template:body}
				      
		      </div>
		</div>
	</div>
</div> 

 	 
 	  


 	
	 	 
	
		
</div> <!-- /#content -->

<div id="sidebar">
	 {pyro:news:twitterland_profile}
 {pyro:widgets:area slug="halaman-depan-kanan"} 
	  
 

			
			 
</div><!-- /#sidebar -->

<div class="clear"></div>

</div></div>

{pyro:theme:partial name="footer"}

 
</body>
</html>

