<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:og="http://ogp.me/ns#" 
	  xmlns:fb="http://www.facebook.com/2008/fbml" 
	  xml:lang="en-gb" lang="en-gb">
<head>
        
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
    
  {pyro:theme:partial name="metadata"} 
  
</head>
<body>
		
				
	     
        {pyro:theme:partial name="header"}
 
	    <div id="mainContent" class="gkWrap clear">
	    	
	    	
	    	
<div id="gkTop1" class="gkMain gkWrap">
			
	<div id="gkToptop1" class="gkCol gkColLeft">
				<div class="box nsp header"><div>
				<div class="content">
				{pyro:widgets:instance id="90"}
				 
				</div>
				</div>
	</div>
</div>
				
	<div id="gkToptop2" class="gkCol gkColCenter" style="margin-bottom:10px">
		{pyro:widgets:instance id="67"}
				
	</div>
	
				
	<div id="gkToptop3" class="gkCol gkColRight" style="margin-bottom:10px">
		{pyro:widgets:instance id="69"}
				
	 </div>
  {pyro:widgets:instance id="68"}
	    	
	    	
<div id="gkMain">
	<div id="gkMainBlock" class="gkMain">
		

	
				<div id="gkContent" class="gkMain gkCol gkPaddingR" >
						
						<div id="gkContentMainbody" class="gkMain gkPaddingR">
							 
								<div id="gkInset1" class="gkMain gkCol" >
									
					
					{pyro:widgets:instance id="70"}
					<div class="box advert"><div><h3 class="advert">Advertisement</h3><div class="content">

<div class="custom advert"  >
	 </div>
</div></div></div><div class="box dotted"><div><h3 class="header"><span>Movies</span></h3><div class="content">

<div class="custom dotted"  >
	<p><a href="http://captainamerica.marvel.com/" target="_blank"> </a></p></div>
</div></div></div>
				</div>
							
				
														
				<div id="gkComponentWrap" class="gkMain gkCol gkPaddingL" >	
						{pyro:widgets:area slug="kiri"}
						
										
										 
										 
										
										
										
									</div>
									
					
			</div>
						
					</div>
			
		

<div id="gkRight" class="gkMain gkCol" >
		<div id="gkRightTop" class="gkMain">
		 <div class="box color"><div><h3 class="header"><span>Stay connected</span></h3><div class="content">

<div class="custom color"  >
	<div class="iconBlock">
<a href="#" class="iconRSS">RSS</a>
<a href="#" class="iconVimeo">Vimeo</a>
<a href="#" class="iconTwitter">Twitter</a>
<a href="#" class="iconFacebook">Facebook</a>
<a href="#" class="iconMobyPicture">Moby Picture</a>
</div></div>
</div></div></div>
	 

 
		
 
{pyro:widgets:instance id="34"}

	 
	
		

		<div id="gkRightBottom" class="gkMain">
		 
		<div class="box big"><div><h3 class="header"><span>Stock Market</span></h3><div class="content">
<div class="gks_main" id="gkStock_144">
		<div class="gks_chart">
		<div class="gks_loader">Loading</div>
				<img src="http://www.google.com/finance/chart?cht=c&amp;q=INDEXDJX:.DJI,INDEXSP:.INX,INDEXNASDAQ:.IXIC" class="gks_img" alt="Chart" />
		<div class="gks_timeline"></div>
	</div>
		<div class="gks_stocks">
	
				
		
				
		<div class="gks_stock">
						<span class="gks_trigger first" title="INDEXDJX:.DJI">o</span>
									<a href="http://www.google.com/finance?q=INDEXDJX:.DJI" class="gks_stock_name" title="INDEXDJX:.DJI">Dow Jones</a>
						<span class="gks_value">14,824.51</span>
			<span class="gks_change plus">&#x25b2;48.38 (0.33%)</span>
		</div>
				
		
				
		<div class="gks_stock">
						<span class="gks_trigger second" title="INDEXSP:.INX">o</span>
									<a href="http://www.google.com/finance?q=INDEXSP:.INX" class="gks_stock_name" title="INDEXSP:.INX">S&amp;P 500</a>
						<span class="gks_value">1,634.96</span>
			<span class="gks_change plus">&#x25b2;4.48 (0.27%)</span>
		</div>
				
		
				
		<div class="gks_stock">
						<span class="gks_trigger third" title="INDEXNASDAQ:.IXIC">o</span>
									<a href="http://www.google.com/finance?q=INDEXNASDAQ:.IXIC" class="gks_stock_name" title="INDEXNASDAQ:.IXIC">NASDAQ</a>
						<span class="gks_value">3,593.35</span>
			<span class="gks_change">0.00 (0.00%)</span>
		</div>
						<div class="gks_tooltip_data">
						<div class="gks_tooltip_stock">		
				<div class="gks_tooltip_chart">
					<img src="http://www.google.com/finance/chart?cht=c&amp;q=INDEXDJX:.DJI" alt="INDEXDJX:.DJI" />
					<div class="gks_tooltip_timeline"></div>
				</div>
				<div class="gks_tooltip_datas">
					<h3>Dow Jones</h3>
					<sub><strong>Company ID</strong> [INDEXDJX:.DJI]</sub>
					<span class="gks_tooltip_value"><strong>Last trade:</strong>14,824.51</span>
					<span class="gks_tooltip_time"><strong>Trade time:</strong>4:42PM EDT</span>
					<span class="gks_tooltip_change plus"><strong>Value change:</strong>&#x25b2;48.38 (0.33%)</span>
				</div>
			</div>	
						<div class="gks_tooltip_stock">		
				<div class="gks_tooltip_chart">
					<img src="http://www.google.com/finance/chart?cht=c&amp;q=INDEXSP:.INX" alt="INDEXSP:.INX" />
					<div class="gks_tooltip_timeline"></div>
				</div>
				<div class="gks_tooltip_datas">
					<h3>S&amp;P 500</h3>
					<sub><strong>Company ID</strong> [INDEXSP:.INX]</sub>
					<span class="gks_tooltip_value"><strong>Last trade:</strong>1,634.96</span>
					<span class="gks_tooltip_time"><strong>Trade time:</strong>4:41PM EDT</span>
					<span class="gks_tooltip_change plus"><strong>Value change:</strong>&#x25b2;4.48 (0.27%)</span>
				</div>
			</div>	
						<div class="gks_tooltip_stock">		
				<div class="gks_tooltip_chart">
					<img src="http://www.google.com/finance/chart?cht=c&amp;q=INDEXNASDAQ:.IXIC" alt="INDEXNASDAQ:.IXIC" />
					<div class="gks_tooltip_timeline"></div>
				</div>
				<div class="gks_tooltip_datas">
					<h3>NASDAQ</h3>
					<sub><strong>Company ID</strong> [INDEXNASDAQ:.IXIC]</sub>
					<span class="gks_tooltip_value"><strong>Last trade:</strong>3,593.35</span>
					<span class="gks_tooltip_time"><strong>Trade time:</strong>5:15PM EDT</span>
					<span class="gks_tooltip_change"><strong>Value change:</strong>0.00 (0.00%)</span>
				</div>
			</div>	
					</div>
		<div class="gks_tooltip ts-left tp-tooltip1"></div>
			</div>
</div></div></div></div>
		
		
</div>
	</div>
</div>
	    	
	    	

	    </div>
    </div>
    
       {pyro:theme:partial name="footer"} 
	
</body>
</html> 
