<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="facebook" class="no_js" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head>
	 

	{pyro:theme:partial name="metadata"} 
    </head>
<body> 
{pyro:theme:partial name="header"} 
{pyro:widgets:instance id="66"}
 
	 
	 <!-- NEWS CONTENT -->
		 
					<iframe src="http://www.lewatmana.com" frameborder="0" style="width:100%;height:700px"> 
</iframe>
				      
		      
	 



 	 
 	  


 	
	 	 
	
		 
{pyro:theme:partial name="footer"}

 
</body>
</html>

