<html>
 
    
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# 
                  article: http://ogp.me/ns/article#">
     <meta property="fb:app_id"               content="YOUR_APP_ID"> 
     <meta property="og:type"                 content="article"> 
     <meta property="og:url"                  content="URL of this object">
     <meta property="og:site_name"            content="Name of site hosting article">
     <meta property="og:image"                content="URL to an image">
     <meta property="og:title"                content="Name of article">
     <meta property="og:description"          content="Description of object"> 
     <meta property="article:published_time"  content="DateTime"> 
     <meta property="article:modified_time"   content="DateTime"> 
     <meta property="article:expiration_time" content="DateTime">
     <meta property="article:author"          content="URL to Author object">
     <meta property="article:section"         content="Section of article">
     <meta property="article:tag"             content="Keyword">
<title>{pyro:template:title}</title>
	
 
{pyro:template:metadata}

{pyro:theme:css file="style.css"}
{pyro:theme:css file="shortcodes.css"}
{pyro:theme:css file="wzslider.css"}
{pyro:theme:css file="style.css"}
{pyro:theme:css file="style.css"}



{pyro:theme:js file="jquery_004.js"}
{pyro:theme:js file="jquery.js"}
{pyro:theme:js file="jquery_003.js"}
{pyro:theme:js file="jquery_002.js"}
{pyro:theme:js file="shortcodes.js"}
{pyro:theme:js file="init.js"}

{pyro:theme:js file="jquery-1.7.1.min.js"}

{pyro:theme:js file="bootstrap-dropdown.js"}
    <script>
    $(window).load(function(){
        $('div.topbar').dropdown();
    });
    </script>
{pyro:theme:css file="bootstrap.css"}

<script type="text/javascript">document.write('<style type="text/css">.tabber{display:none;}</style>');</script>
<style type="text/css">.tabber{display:none;}</style> 
   
{pyro:theme:favicon file="logo.png" base="url"}

<base href="{pyro:url:base}" />
    </head>


 



 
 