<!doctype html>
<html class="no-js" lang="en"> 
	
{pyro:theme:partial name="metadata"}
<style>
      #map-canvas {
        width: 100%;
        min-height: 100%; 
      }
    </style>
</head>
<body>  
    {pyro:theme:partial name="header"}
    
  <img class="head" src="./assets/images/baru/2.jpg" />
  {pyro:template:body}
  <div class="container">
   
 
	 
 
        <!-- FOOTER -->
        <!--===================================================-->
       
<div class="clearfix"></div>

        <!--===================================================-->
        <!-- END FOOTER -->
 



    </div>
    {pyro:theme:partial name="footer"}
    <!--===================================================-->
    <!-- END OF CONTAINER -->


   
      

</body> 
</html>
