<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="facebook" class="no_js" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">

<head>
	{pyro:theme:partial name="metadata"} 
 
     

</head>
<body data-twttr-rendered="true" class="home blog">
	<div class="wrapper wrapper-home white" id="page-container">
	<a name="top"></a>
	
<div id="page-wrap">
	
{pyro:theme:partial name="header"}
	
<div id="content" style="width:660px">
{pyro:news:twitterland_profile_vertical}
{pyro:news:twitterland_profile_vertical_blog}
{pyro:template:body}
  

 	  
 

 	
	 	 
	
		
</div> <!-- /#content -->

<div id="sidebar"> 
	 {pyro:news:twitterland_profile}
	 {pyro:widgets:instance id="40"}
			{pyro:widgets:instance id="49"}
			
			{pyro:widgets:instance id="34"}
			 
</div><!-- /#sidebar -->

<div class="clear"></div>
</div></div>
	
{pyro:theme:partial name="footer"}


 
</body>
</html>
