<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8" />
	<meta content="width=device-width" name="viewport">
	<title>{pyro:template:title}</title>
	<meta name="robots" content="index, follow" />
	{pyro:template:metadata}
	
<base href="{pyro:url:base}" />
 

<meta name="theme-color" content="#EF0000" /><link rel="icon" href="{pyro:url:base}fav.png" sizes="32x32" />
<link rel="icon" href="{pyro:url:base}fav.jpeg" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="{pyro:url:base}fav.jpeg" />
<!-- framework -->
<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
<script type="text/javascript" src="./assets/js/jquery.min.js"></script>
  <script src="./assets/js/popper.min.js"></script>
<link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.min.css">
<link href="./assets/css/caleandar.css" rel="stylesheet" media="screen"> 

<script src="./assets/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="./assets/css/coe.css">
<link rel="stylesheet" type="text/css" href="./assets/css/endless.min.css"> 


<!-- slider -->
<script src="./assets/js/owl.carousel.js"></script>
 


<!-- contents -->
<link rel="stylesheet" type="text/css" href="./assets/css/gallery.css">
<link rel="stylesheet" type="text/css" href="./assets/css/support.css">
<script src="./assets/js/explore.js"></script>
<link rel="stylesheet" type="text/css" href="./assets/css/anim.css">

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
<link href="./assets/css/full-slider.css" rel="stylesheet">
<script src="./assets/js/app.js"></script>

<script src="./assets/js/caleandar.js"></script>   
</head>

